## <font color='grey'>https://medium.com/@gersonmarques</font>

# Python:  working with SQLite

### Checking the language Python version in this computer

In [1]:
from platform import python_version
print('Python language version used in this Jupyter Notebook:', python_version())

Python language version used in this Jupyter Notebook: 3.7.6

SQLite Documentation: http://www.sqlite.org/docs.html

### Connecting database with python

In [27]:
# check if the database already eist, if there's one with the same name, delete ir and create an new one.
import os
os.remove("school.db") if os.path.exists("school.db") else None

In [28]:
# Import sqlite3 module
import sqlite3

In [30]:
# create a conection with database
# if database do not exist, it is created in this moment.
con = sqlite3.connect('school.db')

In [31]:
# creating a cursor
# a cursos allows you to run all the records in a dataset
cur = con.cursor()

In [34]:
# create a sql instruction
sql_create = 'create table courses'\
'(id integer primary key, '\
'name varchar(100), '\
'category varchar(140))'

In [35]:
# Execute the sql instruction in the cursor
cur.execute(sql_create)

In [37]:
# Criando outra sentença SQL para inserir registros
sql_insert = 'insert into courses values(?, ?, ?)'

# sql_insert = 'insert into cursos values (?, ?, ?)'

In [11]:
rec_set = [
    
]

# Dados
#recset = [(1000, 'Ciência de Dados', 'Data Science'),
          #(1001, 'Big Data Fundamentos', 'Big Data'),
          #(1002, 'Python Fundamentos', 'Análise de Dados')]

In [12]:
# Inserindo os registros
for rec in recset:
    cur.execute(sql_insert, rec)

In [13]:
# Grava a transação
con.commit()

In [14]:
# Criando outra sentença SQL para selecionar registros
sql_select = 'select * from cursos'

In [15]:
# Seleciona todos os registros e recupera os registros
cur.execute(sql_select)
dados = cur.fetchall()

In [16]:
# Mostra
for linha in dados:
    print ('Curso Id: %d, Título: %s, Categoria: %s \n' % linha)

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

In [17]:
# Gerando outros registros
recset = [(1003, 'Gestão de Dados com MongoDB', 'Big Data'),
          (1004, 'R Fundamentos', 'Análise de Dados')]

# Inserindo os registros
for rec in recset:
    cur.execute(sql_insert, rec)
    
# Gravando a transação
con.commit()

In [18]:
# Seleciona todos os registros
cur.execute('select * from cursos')

# Recupera os resultados
recset = cur.fetchall()

# Mostra
for rec in recset:
    print ('Curso Id: %d, Título: %s, Categoria: %s \n' % rec)

Curso Id: 1000, Título: Ciência de Dados, Categoria: Data Science

Curso Id: 1001, Título: Big Data Fundamentos, Categoria: Big Data

Curso Id: 1002, Título: Python Fundamentos, Categoria: Análise de Dados

Curso Id: 1003, Título: Gestão de Dados com MongoDB, Categoria: Big Data

Curso Id: 1004, Título: R Fundamentos, Categoria: Análise de Dados

In [19]:
# Fecha a conexão
con.close()

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>