## <font color='grey'>https://medium.com/@gersonmarques</font>

# Python:  working with methods and functions

### Checking the language Python version in this computer

In [32]:
from platform import python_version
print('Python language version used in this Jupyter Notebook:', python_version())

Python language version used in this Jupyter Notebook: 3.7.6

### Create a function that prints the sequence of even numbers between 1 and 20 (the function takes no parameter)  and then call the function to list the numbers

In [6]:
def listNumbersEven():
    for i in range(2, 21, 2):
        print(i)
        
listNumbersEven()

2
4
6
8
10
12
14
16
18
20

### Create a function that receive a string as argument and return the same string in capital letters. Make a function call, passing a string as parameter

In [10]:
def toCapitalize(string):
    string = str(string)
    return string.upper()

toCapitalize("looks like I'm yelling")

"LOOKS LIKE I'M YELLING"

### Create a function that receives as a parameter a list of 4 elements, add 2 elements to the list and print the list.

In [27]:
def addNumbers(x):
    x.append(5)
    x.append(6)

numbers = [1, 2, 3, 4]
addNumbers(numbers)
print(numbers)

[1, 2, 3, 4, 5, 6]

### Create a function that takes a formal argument and a possible list of elements. Make two calls to the function, with only 1 element and with 4 elements on the second call

In [37]:
def sports(oneArgument, *manyArguments):
    print(oneArgument)
    for i in manyArguments:
        print(i)

sports('football')
sports('football', 'basketball', 'volleyball', 'athletics')

football
football
basketball
volleyball
athletics

### Create an anonymous function and assign its return to a variable called sum. The expression will receive 2 numbers as a parameter and return the sum of them.

In [22]:
sumFunction = lambda arg1, arg2 : arg1 + arg2
print("The sum is:", sumFunction(1, 2))

The sum is: 3

### Create a function that convert a list of Celsius temperature to Fahrenheit

In [25]:
Celsius = [39.2, 36.5, 37.3, 37.8]
Fahrenheit = map(lambda x: (x * float(9)/5) + 32, Celsius)
print (list(Fahrenheit))

[102.56, 97.7, 99.14, 100.03999999999999]

### Create a dictionary and list all dictionary methods and attributes

In [28]:
dic = {0 : 'a', 1 : 'b', 2 : 'c'}
dir(dic)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

### Create a function that takes a file as argument and returns a descriptive statistical summary of the file

In [31]:
import pandas as pd
fileName = "binary.csv"

def returnFile(file):
    df = pd.read_csv(file)
    return df.describe()

returnFile(fileName)

          admit         gre       gpa      rank
count  5.000000    5.000000  5.000000  5.000000
mean   0.600000  616.000000  3.480000  3.000000
std    0.547723  185.148589  0.421307  1.224745
min    0.000000  380.000000  2.930000  1.000000
25%    0.000000  520.000000  3.190000  3.000000
50%    1.000000  640.000000  3.610000  3.000000
75%    1.000000  660.000000  3.670000  4.000000
max    1.000000  880.000000  4.000000  4.000000