## <font color='grey'>https://medium.com/@gersonmarques</font>

# Python: Exercises with lists, strings, tuples and dictionaries

In [19]:
# Checking the language Python version in this computer
from platform import python_version
print('Python language version used in this Jupyter Notebook:', python_version())

Python language version used in this Jupyter Notebook: 3.7.6

## Working with Lists

In [24]:
# Print numbers 1 to 10 on the screen using a list to store the numbers:
numbersOnetoTen = []
count = 1
while(count<=10):
    numbersOnetoTen.append(count)
    count += 1
print(numbersOnetoTen)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [25]:
# Create a list with five objects and showing on the screen
countries = ['Argentina', 'Brasil', 'Bolivia', 'Peru', 'China']
countries

['Argentina', 'Brasil', 'Bolivia', 'Peru', 'China']

## Working with Strings

In [26]:
# Create two strings and concatenate both into a third string
firstString = "I "
secondString = "love Brazil"
thirhString = firstString + secondString
thirhString

'I love Brazil'

## Working with tuples

In [11]:
# Create a tuple with the following elements: 1, 2, 2, 3, 4, 4, 4, 5, and then use the tupla object's count function 
# to check how many times the number for appears in the tupla

numbers = (1,2,2,3,4,4,4,5)
numbers.count(4)

3

## Working with dictionaries

In [12]:
# Create a empty dictionary and print on the screen
emptyDictionary = {}
emptyDictionary

{}

In [14]:
# Create a dictionary with 3 keys and 3 values and print on the screen
languages = {1:'English', 2:'Mandarin', 3:'Spanish'}
languages

{1: 'English', 2: 'Mandarin', 3: 'Spanish'}

In [15]:
# Add one more element to the dictionary created on thepreviusly exercise and print on the screen
languages[4] = 'russian'
languages

{1: 'English', 2: 'Mandarin', 3: 'Spanish', 4: 'russian'}

In [16]:
# Create a dictionary with 3 keys and 3 values. One of the values must be a list of 2 numeric elements.
someDictionary = {1:'a',2:'b',3:[3.1,3.2,3.3]}
someDictionary

{1: 'a', 2: 'b', 3: [3.1, 3.2, 3.3]}

In [17]:
# Create a list of 4 leements. The first element must be a string, the second a tuple of 2 elements,
# the thrid a dictionary with 2 keys and 2 values, and the fourth element a float type value.
someList = ["element1",(5,6),{1:'one', 2:'two'}]
someList

['element1', (5, 6), {1: 'one', 2: 'two'}]

In [18]:
# Consider the string below. Print on the screen only the characters from position 1 to 18
phrase = 'Data scientist is the sexyest professional of the 21st century'
phrase[1:18]

'ata scientist is '

## <font color='grey'>https://medium.com/@gersonmarques</font>