## <font color='grey'>https://medium.com/@gersonmarques</font>

# Python:  working with database (sqlite)

### Checking the language Python version in this computer

In [46]:
from platform import python_version
print('Python language version used in this Jupyter Notebook:', python_version())

Python language version used in this Jupyter Notebook: 3.7.6

### Update e Delete

In [47]:
import sqlite3
import random
import time
import datetime

In [77]:
# conecting with database
conn = sqlite3.connect('university.db')

In [78]:
# creating a cursor
c = conn.cursor()

In [79]:
# function to create a table
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS courses(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, name VARCHAR, '\
              'school VARCHAR, graduation CHAR(2), datetime TEXT)')
    
   # c.execute('CREATE TABLE IF NOT EXISTS courses(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
    #          'prod_name TEXT, valor REAL)')

In [80]:
# function to insert a line
def data_insert():
    # c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES ('02-05-2020', 'teclado', 130 )")
    c.execute("INSERT INTO courses (name, school, graduation, datetime) VALUES ('Direito', 'direito', 2)")
    conn.commit()

In [61]:
# using variables to insert data
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'monitor'
    new_valor = random.randrange(50,100)
    c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?)", 
              (new_date, new_prod_name, new_valor))
    conn.commit()

In [40]:
# reading data
def leitura_todos_dados():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha)

In [41]:
# reading specific records
def leitura_registros():
    c.execute("SELECT * FROM PRODUTOS WHERE valor > 70.0")
    for linha in c.fetchall():
        print(linha)

In [42]:
# reading specific columns
def leitura_colunas():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha[3])

In [43]:
# update
def atualiza_dados():
    c.execute("UPDATE produtos SET valor = 70.00 WHERE valor = 98.0")
    conn.commit()

In [44]:
# delete a record
def remove_dados():
    c.execute("DELETE FROM produtos WHERE valor = 62.0")
    conn.commit()

In [81]:
create_table()

In [82]:
data_insert()

In [52]:
atualiza_dados()

In [63]:
data_insert_var()

In [53]:
leitura_todos_dados()

(2, '02-05-2020', 'teclado', 130.0)

In [ ]:
remove_dados()

In [70]:
leitura_todos_dados()

(2, '02-05-2020', 'teclado', 130.0)
(3, '02-05-2020', 'teclado', 130.0)
(4, '2020-10-06 10:56:34.880752', 'monitor', 75.0)
(5, '2020-10-06 10:56:51.064874', 'monitor', 55.0)
(6, '02-05-2020', 'teclado', 130.0)

In [66]:
c.close()
conn.close()

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>